doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title pug demo
    body
        header
            h1 pug demo
        section
            p This is a Pug template.
        footer
            p © 2025 My Website